@tailwind base;
@tailwind components;
@tailwind utilities;

.teams-page {
  padding: 20px;
  text-align: center;
}

.team-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.team-member {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.team-member img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}

.circular-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem; /* Ukuran lingkaran */
  width: 10rem; /* Ukuran lingkaran */
}

.circular-text {
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.circular-container:hover .circular-text {
  transform: rotate(90deg);
}

.icon-center {
  position: absolute;
  color: #e33a07; /* Warna ikon */
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Add to your global CSS */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}